
<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
-->
<div style="height: all; background-color: aqua;">
<ion-button shape="round" style="width: 100px;">Default</ion-button>
<ion-button shape="round" style="width: 100px;">Default</ion-button><br>
<ion-button shape="round" style="width: 100px;">Default</ion-button>
</div>






