
<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
-->
<div style="height: 100vh; background-color: rgb(167, 255, 229);">
<br>
<h3 style="text-align: center;"><b>AGENDA</b></h3><br>
  <table>
    <tr>
      <th><ion-label>Nombre: </ion-label><ion-label style="color: red;"><b>*</b></ion-label></th>
      <th> <ion-label>Descripción: </ion-label></th>
      <th><ion-label>Fecha: </ion-label><ion-label style="color: red;"><b>*</b></ion-label></th>
    </tr>
    <tbody>

      <tr>
        <td><ion-input [(ngModel)]="nombre.value" placeholder="  ___________________" class="answer"></ion-input><br></td>
        <td><ion-input [(ngModel)]="descripcion.value" placeholder="  __________________" class="answer"></ion-input><br></td>
        <td><ion-input [(ngModel)]="fecha.value" type="datetime-local" class="answer"></ion-input><br></td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center;">
    <ion-button  shape="round" style="width: 12%;" (click)="NTarea()">Añadir tarea</ion-button>
  </div>
  <br><br><br>
  <div class="container" style="background-color: rgb(167, 255, 229);">
    <table>
      
        <tr>
          <th>NOMBRE</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Completada</th>
        </tr>
      
      <tbody>
        <tr *ngFor="let tarea of tareas" [ngClass]="{'completada': tarea.completada, 'incompleta': !tarea.completada}">
          <td>{{tarea.nombre}}</td>
          <td>{{tarea.descripcion}}</td>
          <td>{{tarea.fecha}}</td>
          <td>
            <ion-checkbox [(ngModel)]="tarea.completada" style="width: 140px;"></ion-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>






